[submodule "digital/rtl/aes"]
	path = digital/rtl/aes
	url = https://github.com/secworks/aes.git
[submodule "digital/rtl/spix"]
	path = digital/rtl/spix
	url = https://github.com/ckdur/spix.git
[submodule "ro_reliability"]
	path = ro_reliability
	url = ssh://git@gitlab.symbioticeda.com:20022/Juan_25/ro_reliability_to_sept2025.git
[submodule "padring"]
	path = padring
	url = https://github.com/ckdur/padring.git
